/* copied from table mdn docs */
body {
    font-family: consolas;
}

#runs-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
    letter-spacing: 1px;
}

#runs-table thead {
    background-color: rgb(228 240 245);
}

#runs-table th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

#runs-table tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}
#runs-table tbody > tr:nth-of-type(odd) {
    background-color: rgb(255 255 255);
}

#problem-header {
    text-align: center;
}

#problem-header h1, h2 {
    margin: 0px;
    padding: 0px;
}

#problems {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#problems-left {
    width: 50%;
}

#problems-right {
    width: 50%;
}

#problems-table {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
}

#problems-table thead {
    background-color: rgb(228 240 245);
}

#problems-table th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

#problems-submit {
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#problems-submit-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
}

#problems-submit-table tfoot {
    text-align: center;
}

#standings-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.success {
    background-color: #00ff00;
}

.failed {
    background-color: red;
}

.frozen {
    background-color: #a0a0a0;
}

.problem-success {
    background-color: #00af00;
}

.problem-failed {
    background-color: #ff9999;
}

#header {
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
}

#header div {
    padding: 20px;
    color: blue;
}

#header a {
    padding: 20px;
}

.td-click {
    cursor: pointer;
}

form {
    display: inline-grid;
}
