/* copied from table mdn docs */
body {
    font-family: sans-serif;
}

#runs-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
    letter-spacing: 1px;
}

#runs-table thead {
    background-color: rgb(228 240 245);
}

#runs-table th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

#runs-table tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}
#runs-table tbody > tr:nth-of-type(odd) {
    background-color: rgb(255 255 255);
}

#problem-header {
    text-align: center;
}

#problem-header h1, h2 {
    margin: 0px;
    padding: 0px;
}

#problems {
    background: yellow;
    display: flex;
    justify-content: center;
    margin: 10px;
}

#problems-left {
    background: red;
    width: 50%;
}

#problems-right {
    background: orange;
    width: 50%;
}

#problems-list {
    background: green;
}

#problems-table {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#problems-submit {
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0ff;
    justify-content: center;
}

#problems-submit tfoot {
    text-align: center;
}

#header {
    display: flex;
    justify-content: center;
    background: #f0f0f0;
}

#header a {
    padding: 20px;
    color: blue;
}

.td-click {
    cursor: pointer;
}

form {
    display: inline-grid;
}
